version: "3.7"

services:
  #PHP Service
  app:
    build:
      args:
        user: learning-user
        uid: 1000
      context: ./
      dockerfile: Dockerfile
    image: learning-app
    container_name: learning-app
    restart: unless-stopped
    tty: true
    working_dir: /var/www/
    volumes:
      - ./:/var/www
    networks:
      - learning

  #MySql Service
  db:
    image: mysql:5.7
    container_name: learning-db
    restart: unless-stopped
    tty: true
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: learning-db
      MYSQL_ROOT_PASSWORD: learning-pass
      MYSQL_PASSWORD: learning-pass
      MYSQL_USER: learning-user
      SERVICE_TAGS: dev
      SERVICE_NAME: mysql
    networks:
      - learning

  #Nginx Service6
  nginx:
    image: nginx:alpine
    container_name: learning-nginx
    restart: unless-stopped
    tty: true
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./:/var/www
      - ./docker/nginx:/etc/nginx/conf.d/
    networks:
      - learning

networks:
  learning:
    driver: bridge
